body {
	font-family: Consolas, Helvetica, Verdana, FreeSans, Arial, sans-serif;
	background: #e5dfdb;
	background-image: none;
	background-image: url("pic/bg.gif");
	/*margin: 0px;*/
}

#page {
	margin: 0 auto;
	width: 960px;
}

#logo h1 {
	margin: 0px;
}

#top-nav {
	margin-bottom: 60px;
}

.nav {
	margin: 0;
	padding: 0;
    position: relative;
    /*top: -40px;*/
	top: -17px;
	left: 30px;
	list-style-type: none; 
}

.nav li {
	display: inline;
}

a {
	text-decoration:none;
	color: #4070a0;
}

h1 {
	font-family: monospace;
}

a:hover {
	color:#ff00ff;
	position: relative;
	top: -1px;
}

#container {
	margin-top: 105px;
}

#logo {
	color: #4070a0;
	font-size: 25pt;
}

#post-content .post-title {
	color: #4070a0;
	margin-bottom: 0;
}

#post-content .post-meta {
	margin: 0;
	padding: 0;
    position: relative;
    top: -15px;
	color: #666;
	font-family: monospace;
}

#post-content .post-entry {
	color: #333;
}

#footer {
	color: #99a;
	position: fixed;
	bottom: 2px;
	right: 4px;
}

#footer p {
	margin: 0px;
}

